body {
    font-family: 'Open Sans', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.header {
    background-color: #6f5499;
    color: #ffffff;
}

.footer {
    background-color: #433f4a;
    color: #ffffff;
}

.page-header {
    border: 0;
}

.pad-before-3 {
    padding-top: 3rem;
}

.pad-after-2 {
    padding-bottom: 2rem;
}

.btn {
    margin-right: 0.5rem;
}
